<% if !current_user %>
  <h2>Please sign in to access your recipes</h2>
<% else %>
  <% @recipes.each do |item|  %>
    <%= link_to recipe_path(item.id) do %>
    <div class="recipe-card">
      <div class="title">
        <h2><%= item.name%> by <%= item.user.name %></h2>
        <%= button_to 'REMOVE', recipe_path(item.id), method: :delete, data: {turbo: false} %>      
      </div>
      <div class="description">
        <h4>Description:</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tristique ante. 
          Nunc ut tempus turpis. Sed euismod pretium turpis, eu porta odio imperdiet.
        </p>
      </div>
    </div>
  <% end %>
<% end %>
<% end %>