
<table class="recipe-list">
  <tr>
    <td align="center">Food</td>
    <td align="center">Quantity</td>
    <td align="center">Value</td>
  </tr> 

  <%= @inventory.id  %>
  <%= @recipe.id  %>
</table>