
<table class="recipe-list">
  <tr>
    <td align="center">Food</td>
    <td align="center">Quantity</td>
    <td align="center">Value</td>
  </tr> 

  <% @ingredients.zip(@stock).each do |(ingre, stock)| %>
    <tr>
      <td align="center"><p><%= ingredient(ingre, stock) %></p></td>
  
    <tr>
  <% end %>

</table>